/* #212129 */
/* #323949 */
/* #3d3e51 */
/* #40445a */
/* #4c5265 */
/* #ffffff */

@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

:root {
  --primaryColor: #0f1624;
  --secondaryColor: #323949;
  /* --main-text : font-family: 'Syne Mono', monospace; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primaryColor);
  font-family: "Syne Mono", monospace;
  color: white;
  /* width: 100%; */
}
body::-webkit-scrollbar {
  display: none;
}
.heading {
  font-size: 2rem;
}
#myChart {
  width: 600px !important;
  height: 600px !important;
}
.container {
  width: 85vw;
  margin: auto;
}
.partition {
  width: 70px;
  height: 6px;
  border-radius: 10px;
  background: linear-gradient(
    270deg,
    rgb(244, 103, 55) 0%,
    rgb(148, 93, 214) 100%
  );
}
.partition2 {
  width: 70px;
  height: 6px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgb(244, 103, 55) 20%,
    rgb(148, 93, 214) 100%
  );
}

/*? NAVBAR */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 20px 0;
  /* position: absolute; */
  /* z-index: 10; */
}
.navbar {
  width: 30%;
  display: flex;
  justify-content: space-around;
  color: #909090;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  padding: 0 5px;
}
.psec1 {
  color: #686868;
}

.btn {
  border: solid var(--secondaryColor);
  color: white;
  padding: 5px 5px 5px 0;
  background-color: inherit;
  cursor: pointer;
  width: 12vw;
  height: 50px;
  vertical-align: middle;
  /* border: solid 5px transparent;
  border-image: linear-gradient(
    to bottom,
    rgb(244, 103, 55) 0%,
    rgb(148, 93, 214) 100%
  );
  border-image-slice: 1; */
  border-radius: 10px;
}
.icon {
  padding: 0 10px;
}
.hide-l {
  display: none;
}

/*? SECTION 1 */
.section1 {
  display: flex;
  justify-content: space-between;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-bottom: 30px; */
  width: 50%;
}

.hiam {
  font-size: 3rem;
  /* color: linear-gradient(270deg, rgb(244, 103, 55) 0%, rgb(148, 93, 214) 100%); */
}
.yash {
  font-size: 4.6rem;
}
.hirebtn {
  width: 300px;
  height: 80px;
  font-size: 0.9rem;
  cursor: pointer;
  margin-top: 30px;
  background-color: inherit;
  color: white;
  border: solid var(--secondaryColor);
  border-radius: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  /* font-weight: bold; */
}
.mainimg {
  max-height: 700px;
  max-width: 100%;
  /* position: relative; */
  margin-top: -25px;
  /* z-index: -1; */
}

/*? SECTION 2 */

.abtus {
  font-size: 2.8rem;
  padding: 20px 0;
  margin: 10px 0;
  /* background-color: #4c5265; */
  /* text-align: center; */
}
.abtusp {
  padding: 50px 0;
  /* text-align: center; */
  margin: 10px 60px;
  letter-spacing: 2px;
  color: #9a9a9a;
  line-height: 1.5;
}

/*? SOCIAL */
/* .social {
  background-color: var(--secondaryColor);
  height: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/*? SKILLS */

#skills {
  margin-top: 10px;
}

.skill {
  margin: 30px 0px 10px 0px;
  font-size: 2.8rem;
  padding: 20px 0;

  /* background-color: #4c5265; */
  /* text-align: center; */
}
/* ? PROJECTS */

.projects {
  margin: 30px 0px 10px 0px;
  font-size: 2.8rem;
  padding: 20px 0;

  /* background-color: #4c5265; */
  /* text-align: center; */
}

/*? SERVICES */

#services {
  margin-top: 10px;
}

.service {
  margin: 30px 0px 10px 0px;
  font-size: 2.8rem;
  padding: 20px;
  /* background-color: #4c5265; */
  /* text-align: center; */
}

.servcont {
  display: flex;
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  /* justify-content: space-evenly; */
  align-items: center;
  margin: 40px 0;
}

.serve {
  margin: 20px;
  /* height: 40vh; */
  width: 50vw;
  height: 500px;
  /* background-color: #3d3e51; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 40px rgb(0, 0, 0);
  border: solid 5px transparent;
  border-image: linear-gradient(
    to bottom,
    rgb(244, 103, 55) 0%,
    rgb(148, 93, 214) 100%
  );
  border-image-slice: 1;
  /* transition: ease-in-out 0.2s; */
}
.active {
  margin: 30px;
  /* height: 40vh; */
  width: 50vw;
  height: 700px;
  /* background-color: #3d3e51; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 40px rgb(0, 0, 0);
  border: solid 5px transparent;
  border-image: linear-gradient(
    to top,
    rgb(244, 103, 55) 0%,
    rgb(148, 93, 214) 100%
  );
  border-image-slice: 1;
}

.servimg {
  /* height: 100%; */
  max-width: 380px;
  padding: 10px;
  /* background-color: black; */
}

.servdesp {
  /* height: 100%; */
  width: 70%;
  /* background-color: aliceblue; */
  padding: 50px;
  margin: 10px;
}

.editing {
  display: flex;
  flex-direction: row-reverse;
}

/*? FOOTER */
footer {
  background-color: rgb(20, 20, 20);
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/*** RESPONSIVE */
@media screen and (max-width: 800px) {
  /* body {
    background-color: aliceblue;
  } */
  .navbar {
    display: none;
  }
  .hide-s {
    display: none;
  }
  .hide-l {
    display: inline-block;
  }
  .section1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .description {
    margin-bottom: 20px;
  }
  .psec1 {
    color: #686868;
  }
  .mainimg {
    /* position: absolute; */
    max-height: 500px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* max-height: 500px; */
    z-index: -1;
    /* margin-top: 20000px; */
  }
  .hiam {
    font-size: 2rem;
  }
  .yash {
    font-size: 3rem;
  }
  .hirebtn {
    margin-right: auto;
    margin-left: auto;
  }
  .description {
    /* font-size: 50px; */
    width: 100%;
    text-align: center;
  }
  .servcont {
    display: flex;
    flex-direction: column;
  }
  .serve {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
}

.social {
  height: 300px;
  width: 100px;
  position: fixed;
  top: 27%;
  /* bottom: 50%; */
  right: -80px;
  cursor: pointer;
  background-color: var(--secondaryColor);
  border-left: solid 20px transparent;
  border-image: linear-gradient(
    to bottom,
    rgb(244, 103, 55) 0%,
    rgb(148, 93, 214) 100%
  );
  border-image-slice: 1;
  border-radius: 0 5px 5px 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.15s;
}
.icns {
  cursor: pointer;
  padding: 10px 0;
}
.social:hover {
  right: 0px;
}
.prcont {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  /* position: absolute; */
  /* flex-direction: ; */
}
.proj {
  /* height: auto;
  max-width: 430px;
  width: 100%; */

  /* background-color: black; */
  /* margin: 10px; */
  box-shadow: 5px 5px 40px rgb(0, 0, 0);
  border: solid 5px transparent;
  border-image: linear-gradient(
    to bottom,
    rgb(244, 103, 55) 0%,
    rgb(148, 93, 214) 100%
  );
  border-image-slice: 1;
  z-index: 100;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.outerpr {
  /* padding: 20px; */
  /* width: 100%; */
  height: auto;
  max-width: 410px;
  width: 100%;

  /* border: black 5px transparent; */
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  bottom: 10px;
  margin: 5px;

  /* display: flex;
  align-items: center;
  justify-content: center; */

  /* position: absolute; */
}
.projback {
  height: 250px;
  max-width: 410px;
  width: 100%;
  z-index: 1;
  position: absolute;
  /* top: 0; */
  background-color: black;
  filter: opacity(0.6);
}
.btnpr {
  /* border: none; */
  /* outline: none; */
  cursor: pointer;
  background-color: rgb(148, 93, 214);
  width: 120px;
  padding: 10px;
  margin: 10px 30px;
  border-radius: 50px;
  letter-spacing: 1px;
  transition: 0.4s;
}
.btnpr:hover {
  background-color: rgb(244, 103, 55);
}
.btngrp {
  display: flex;
}
.achmnts {
  margin: 30px 0px 10px 0px;
  font-size: 2.8rem;
  padding: 20px;
  /* background-color: #4c5265; */
  /* text-align: center; */
}
.achcont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* flex-grow: 1; */
}

.snach {
  min-width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.skhead {
  font-size: 2rem;
  margin-top: 10px;
}
.skp {
  color: #767676;
  line-height: 1.5;
  letter-spacing: 2px;
}
.numb {
  font-size: 3rem;
  padding: 10px;
}
.expl {
  padding: 0 10px;
  color: #828282;
  /* letter-spacing: 2px; */
}
.sklcont {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  /* flex-grow: 1; */
}
.grp {
  min-width: 250px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #212d45;
  border-radius: 10px;
  margin: 0 10px 40px 10px;

  /* justify-content: center; */
}
